<nav class="teal">
    <div class="nav-wrapper">
        <ul class="left hide-on-med-and-down">
            <li ng-repeat="item in menu">
               <a ng-href="{{item.url}}" >{{item.title}}</a>
            </li>
        </ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                <form action="/logout" method="post">
                    <button type="submit" class="btn" > Logout </button>
                </form>
            </li>
        </ul>
    </div>
</nav>