<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>This is go app</title>
    <link rel="stylesheet" href="/css/materialize.min.css">
</head>
<body>
    <nav class="teal ">
        <div class="nav-wrapper">
            <a href="/" class="brand-logo">GoDoTask</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="/login" >Login</a>
                </li>
                <li>
                    <a href="/registration" >Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        {{yield}}
    </div>
    <script src="/js/jquery-3.1.1.min.js"></script>
    <script src="/js/materialize.min.js"></script>
</body>
</html>